{% extends 'myapp/doctor_base.html' %}
{% load static %}
{% block title %}Disease Type Update{% endblock %}
{% block body %}
<center>
    <h1>Disease Type Edit</h1>
    <div class="container">
     <form role="form" name="frm" action="{% url 'doctor_disease_master_edit'%}" method="post">
        {% csrf_token %}
         <div class="form-group">
            <label for="disease_name">Disease Name :</label>
            <input class="form-control" name="disease_name" id="disease_name" type="text"  value="{{disease_name}}">
         </div>
         <div class="form-group">
            <label for="disease_descp">Disease Description :</label>
             <textarea class="form-control" name="disease_descp" id="disease_descp" >{{disease_descp}}</textarea>
         </div>
         <button type="submit"
        class="btn btn-info" id="bt" name="bt">Update</button>
        <button type="reset"
        class="btn btn-info" id="rt" name="rt">Clear</button>
         <input type="hidden" name="s_id" value="{{s_id}}">
    </form>
    </div>
    <h3>{{msg}}</h3>
</center>
{% endblock %}
