{% extends 'myapp/doctor_base.html' %}
{% load static %}
{% block title %}Symptom Details Update{% endblock %}
{% block body %}
<center>
    <h1>Symptom Details Edit</h1>
    <div class="container">
     <form role="form" name="frm" action="{% url 'doctor_symptom_master_edit'%}" method="post">
        {% csrf_token %}
         <div class="form-group">
            <label for="symptom_name">Symptom :</label>
            <input class="form-control" name="symptom_name" id="symptom_name" type="text"  value="{{symptom_name}}"><br><br>
         </div>
         <button type="submit"
        class="btn btn-info" id="bt" name="bt">Update</button>
        <button type="reset"
        class="btn btn-info" id="rt" name="rt">Clear</button>
         <input type="hidden" name="s_id" value="{{s_id}}">
    </form>
    </div>
    <h3>{{msg}}</h3>
</center>
{% endblock %}
